body {
    background-image: linear-gradient(to left, rgb(176, 176, 224)  , rgb(236, 234, 234)); 
   
  }
  .flexbox-container{
    display: flex;
    gap:500px;
  }
  .container-1{
   display: grid;
   grid-template-rows:310px 310px;
   grid-template-columns: 225px 225px;
  }
  .container-2{
    display: grid;
    grid-template-rows:310px 310px;
    grid-template-columns: 225px 225px;
    align-self: flex-end;
   }

  .pro{
    height: 305px;
    width: auto;
    border: 5px solid #fff;
}
  .land{
    width: 454px;
    height: 300px;
    border: 5px solid #fff;
  }
