body {
    background-image: linear-gradient(to right, rgb(176, 176, 224)  , rgb(236, 234, 234));
  }
  .container{
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  * > img{
    height: 350px;
    border: 5px solid #fff;
  }
